@namespace HeyItIsMe.WebApp.Pages.UserPanel.Dashboard.Components
@using HeyItIsMe.Application.Dtos.PageVisits

<div class="date-range-form d-flex align-items-center gap-3">
    <div class="date-input-group">
        <label for="fromDate" class="date-label">@CoreLocalizer[CoreResource.From_Date]:</label>
        <InputDate @bind-Value="SearchPageVisitsByDayInputDto.FromDateTime" class="form-control date-input" id="fromDate" />
    </div>
    <div class="date-input-group">
        <label for="toDate" class="date-label">@CoreLocalizer[CoreResource.To_Date]:</label>
        <InputDate @bind-Value="SearchPageVisitsByDayInputDto.ToDateTime" class="form-control date-input" id="toDate" />
    </div>
    <button type="button" class="btn btn-search" @onclick="HandleSearchInsights">@CoreLocalizer[CoreResource.Search]</button>
</div>

@code {
    protected SearchPageVisitsByDayInputDto SearchPageVisitsByDayInputDto = new();

    [Parameter]
    public EventCallback<SearchPageVisitsByDayInputDto> SearchChangedCallback { get; set; }


    protected virtual async Task HandleSearchInsights()
    {
        await SearchChangedCallback.InvokeAsync(SearchPageVisitsByDayInputDto);
    }
} 